.row {
min-height: 95vh;
}

#list {
text-align: center;
list-style: none;
min-height: 300px;
}

i {
    display: none !important;
} 

i:hover {
color: #0080ff !important;
}

/* #completed {
    text-decoration: line-through;
} */

input[type=checkbox] {
display: none;
}

li:hover input[type=checkbox]{
    display: block;
}


li:hover i{
    display: block !important;
}
