.row {
    min-height: 95vh;
}

#list {
    text-align: center;
    list-style: none;
    min-height: 300px;
}

i {
    display: none !important;
}

i:hover {
    color: #0080ff !important;
}

input[type=checkbox] {
    display: none !important;
}

li+span{
    text-align: center !important;
}

li:hover input[type=checkbox] {
    display: block !important;
}


li:hover i {
    display: block !important;
}

.bruh:checked+span{
    text-decoration: line-through;
}